# dependencies
node_modules

# build outputs
build
.react-router

# local data
/data

# env/config
.env
.env.*

# vcs
.git
.gitignore

# editor/OS
.DS_Store
.idea
.vscode

# misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# tests/coverage
coverage
